@model IEnumerable<Musify.Models.Artist>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" id="artists">
        <thead>
            <tr>
                <th>
                    Artist
                </th>
                <th>
                    Image
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var artist in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => artist.Name)
                    </td>
                    <td>
                        <img src="~/img/@Url.Content(artist.Thumbnail)" class="artists-photo" />
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = artist.ID })
                        <button data-artist-id="@artist.ID" class="btn btn-link js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#artists").DataTable();
            var baseUrl = window.location.origin;
            console.log(window.location.origin);
            $(".js-delete").click(function (e) {
                var button = $(e.target);
                e.preventDefault();
                if (confirm("Are you sure you want to delete this artist?")) {
                    $.ajax({
                        url: baseUrl + "/Admin/api/Artists/" + button.attr("data-artist-id"),
                        method: "DELETE"
                    }).done(function () {
                        button.parents("tr").fadeOut(function () {
                            $(this).remove();
                        });
                    }).fail(function (error) {
                        console.log(error);
                        alert("Something failed");
                    });
                }

            });
        });
    </script>
}

