@model Musify.ViewModels.ArtistsIndexViewModel
@{ ViewBag.Title = "Artists"; }


<div class="container">
    <h1>Artists</h1>
    <div class="row brighten">
        @foreach (var artist in Model.Artists)
        {
<div class="col-md-3">
    <a href="@Url.Action("Details", "ArtistsDetails", new { controller = "ArtistsDetails", id = artist.ID } )">
        <img src="~/img/@Url.Content(artist.Thumbnail)" width="200" height="200" style="border-radius:10%" />
    </a>
    <h6 class="text-left" style="margin-bottom: 20px;">@artist.Name</h6>

</div>}

    </div>
</div>