@model Musify.ViewModels.AlbumsIndexViewModel
@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <h1>Albums</h1>
    <div class="row brighten">
        @foreach (var album in Model.Albums)
        {
            <div class="col-md-3">
                <a href="@Url.Action("Details", "AlbumsDetails", new { controller = "AlbumsDetails", id = album.ID } )">
                    <img src="~/img/@Url.Content(album.Thumbnail)" width="200" height="200" style="border-radius:10%" />
                </a>
                <h6 class="text-left" style="margin-bottom: 20px;">@album.Title</h6>

            </div>

        }

    </div>
</div>

