@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Musify.Models.Artist>
@{
    ViewBag.Title = "Home Page";
}


<style>
    ul.pagination {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        /background-color: #333;
        /
    }

    .pagination li {
        float: left;
        border-right: 1px solid #bbb;
    }

        .pagination li:last-child {
            border-right: none;
        }

        .pagination li a {
            display: block;
            color: Black;
            text-align: center;
            padding: 1px 10px;
            text-decoration: none;
            /*border: none;*/
            border:none;
        }

    .pagination .active {
        background-color: #e4e9db;
    }
</style>
<div class="container">
    <h2>Artists</h2>
    <div class="row brighten">
        @foreach (var artist in Model)
        {
            <div class="col-md-3">
                <a href="@Url.Action("Details", "ArtistsDetails", new { controller = "ArtistsDetails", id = artist.ID } )">
                    <img src="~/img/@Url.Content(artist.Thumbnail)" width="250" height="200" style="border-radius:10%" />
                </a>
                <h6 class="textHome" style="margin-bottom: 20px;">@artist.Name</h6>

            </div>

            @*<div class="col-md-2">
                    <img src="~/img/@Url.Content(artist.Thumbnail)" width="100" height="100" />
                    <h6 class="text-left">@artist.Name</h6>
                </div>*@
        }

    </div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    <br />
    <br />
</div>

<br/>
<br />
@{
    Html.RenderAction("IndexPartial", "Home");
}