@model List<Musify.Models.Playlist>
@{
    ViewBag.Title = "Index";
}

@if (ViewBag.User.HasPaid == false)
{
    <div class="container">


        <p>You have to pay to unlock this feature</p>
        <button class="btn btn-default" id="myButton">Pay Now</button>
    </div>
}
else
{
    <button hidden class="btn btn-default" id="myButton">Pay Now</button>
    @Html.ActionLink("Create New Playlist", "Create")
    <div class="container">
        <h2>My Playlists</h2>
        <div class="row">


            @foreach (var playlist in Model)
            {
                <div class="col-md-3">
                    <div>
                        @Html.DisplayFor(modelplaylist => playlist.Name)
                    </div>
                    @if (playlist.PlaylistDetails.Count > 0)
                    {
                        <div>
                            <img src="~/img/@Url.Content(playlist.PlaylistDetails[0].Song.Thumbnail)" class="songs-photo myImage" plId="@playlist.Id" />
                        </div>
                        <div>@playlist.PlaylistDetails.Count songs</div>
                    }


                </div>
            }

        </div>


    </div>
}

@section scripts{
    <script>
    document.getElementById("myButton").onclick = function () {
        location.href = "https://localhost:44381/Payment/PaymentWithPaypal";
        };
        $(document).ready(function () {
            var baseUrl = window.location.origin;
            $(".myImage").click(function (e) {
                var photo = $(e.target);
                var playlistId = photo.attr("plId");
                location.href = "https://localhost:44381/Playlists/ListenToPlaylist/" + playlistId;
            });
        });
    </script>

}