@model Musify.Models.Playlist
@{
    ViewBag.Title = "ListenToPlaylist";
}

<h2>ListenToPlaylist</h2>

<div class="container">
    <p>@Model.Name</p>
    @if (Model.PlaylistDetails.Count > 0)
    {
        <div class="row">
            <audio src="" type="audio/mpeg" controls id="audioPlayer">
                Sorry your browser doesn 't support html5!
                @*<source src="~/Songs/@item.Song.SongPath" type="audio/mpeg" />*@
            </audio>
        </div>
        <div class="row">
            <a href="#" onclick="playlist.prevTrack();">Prev Track</a>&nbsp;
            <a href="#" onclick="playlist.nextTrack();">Next Track</a>&nbsp;
            <a href="#" onclick="playlist.prevTrack();">Toggle Shuffle</a>
        </div>
        <br />
        <div class="row">
            <ul id="playlist">
                @foreach (var item in Model.PlaylistDetails)
                {
                    <li><a href="~/Songs/@item.Song.SongPath">@item.Song.Title</a></li>
                }
            </ul>
        </div>
    }


</div>

<script src="~/Scripts/audioPlayer.js"></script>
@section scripts{
 
<script>

    /*
Default constructor configuration:
    autoplay: false,
    shuffle: false,
    loop: false,
    playerId: "audioPlayer",
    playlistId: "playlist",
    currentClass: "current-song"


*/

    // loads the audio player
    var config = {
        autoplay: true,
        loop: true,
        shuffle: true
    };
    var playlist = new AudioPlaylist();

</script>
}